<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.han.mapper.StudentMapper">

    <!--查询多条数据-->
    <!-- id="selectAllStudent"这个id与接口中需要的方法名对应，切记 -->
    <select id="selectAllStudent" resultType="com.han.bean.Student"><!--resultType="StudentBean"这个是entity，不区分大小写//返回的是json格式  -->
        SELECT id,name,age,score FROM sut
    </select>
    
    <select id="selectStudentById" resultType="com.han.bean.Student">
        SELECT id,name,age,score FROM sut WHERE id=#{id}
    </select>
    <!-- 添加一条信息 -->
      <insert id="addStudent" >
       INSERT INTO sut (NAME,age,score) VALUES (#{name},#{age},#{score})
       
       <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT @@identity
        </selectKey>
     </insert> 
     <!-- 删除一个信息 -->
     <delete id="delectStudent">
     DELETE FROM sut Where id=#{id}
     </delete>
      <!-- 修改信息 -->
      <update id="updateStudent">
        UPDATE sut SET name=#{name},age=#{age},score=#{score} WHERE id=#{id}
      </update>
      

</mapper>